.headers{
    width: 100%;
   display: flex;
   /* min-width: 500px; */
   justify-content: space-between;
   margin-bottom: 80px;
}
body{
    margin-left: 0;
    margin-right: 0;
    
}
html{
    font-family: 'Cairo', sans-serif;
}
.bg-01{
    width: 50px;
    height: 65px;
}
.vector-1{ 
    border-bottom:1px solid #C6C6C6;
    position: absolute;
    width: 100%;
    height: 0px;
    left: -1.5px;
    top: 90px;
}
.vector-2{
    margin-top: 100px;
    width: 100%;
    border-bottom:1px solid #C6C6C6;
}
.headers .intro{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: #333333;
}
.intro .intro-1{
    margin-right: 20px;
    padding: 10px 18px;
    border-radius: 50px;
    color: #015000;
    transition: 0.5s;
}
.intro .intro-1:hover{
    transform: translateY(-10px);
}
.intro .intro-2{
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #015000;
    background-color: #015000;
    transition: 0.5s;
}
.intro .intro-2:hover{
    transform: translateY(-10px);
}
.content{
   width: 70%;
   margin: auto;
}
.content-1{
    display: flex;
    width: 100%;
}
.text-1{
    font-size: 22px;
    width: 50%;
    color: #015000;
}
.bg-02{
    background-image: url("../img/image.png");
    width: 50%;
    background-size: 100% 100%;
}
.text-1 .intro{
    margin-top: 50px;
    display: flex;
    
    /* font-size: 100%; */
    width: 100%;
    font-weight: 600;
}
.text-1 .intro .intro-2{
    text-align: center;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: 2px solid #015000;
    color: white;
    background-color: #015000;
    font-weight: bold;
}
.text-1 .intro .intro-1{
    text-align: center;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: 2px solid #015000;
    font-weight: bold;
}
.text-2{
    font-size: 22px;
    width: 100%;
    color: #015000;
}
.text-1 h1{
    font-size: 73px;
    margin:0px;
    line-height: 75px;
}
.text-1 p{
    line-height: 30px;
    margin-top: 20px;
    color: #333333;
}
.text-2 p{
    line-height: 30px;
    margin-top: 0;
    color: #333333;
}
span{
    font-weight: bold;
}
.text-2 h1{
    margin: 0;
    font-size: 58px;
}
.text-3{
    width: 100%;
    color: #015000;
    text-align: center;
}
.text-3 h1{
    font-size: 58px;
}
.content-3{
    margin-top: 100px;
}
.cau-truc{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cau-truc-1{
   width: 30%;
   box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.08);
   border-radius: 30px;
   background: #FFFEFD;
   transition: 0.5s;
}
.cau-truc-1:hover{
    transform: translateY(-30px);
}
.cau-truc-2{
    width: 30%;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    background: #FFFEFD;
    transition: 0.5s;
 }
 .cau-truc-2:hover{
    transform: translateY(-30px);
}
 .cau-truc-3{
    width: 30%;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    background: #FFFEFD;
    transition: 0.5s;
 }
 .cau-truc-3:hover{
    transform: translateY(-30px);
}
.bg-03{
    width: 100%;
    height: 200px;
    background-image: url("../img/ban\ nd.png");
    background-size: 100% 100%;
    border-radius: 30px;
}
h2{
    color: #015000;
}
.cau-truc-1 p{
    font-size: 20px;
}
.cau-truc-2 p{
    font-size: 20px;
}
.cau-truc-3 p{
    font-size: 20px;
}
.can-le{
    padding: 10px 15px 30px 15px;
}
.bg-04{
    width: 100%;
    height: 200px;
    background-image: url("../img/ban\ tt.png");
    background-size: 100% 100%;
    border-radius: 30px;
}
.bg-05{
    width: 100%;
    height: 200px;
    background-image: url("../img/ban\ tc-ns.png");
    background-size: 100% 100%;
    border-radius: 30px;
}
.content-4{
    margin-top: 100px;
}
hd-1{
    width:30%;
}
hd-2{
    width:30%;
}
hd-3{
    width:30%;
}
.hd{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hd h3{
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 144px;
    color: #015000;
    margin-bottom: 0;
}
.hd p{
    line-height: 30px;
    margin-top: 0;
    font-size: 30px;
}
.content-5{
    margin-top: 100px;
    width: 100%;
}
.grid-content{
    display: grid;
    width: 100%;
    gap:15px;
}
.item1 {
    grid-column: 1 / 4;
  grid-row: 1 / 3;
    background-image: url("../img/240512329_607823097270411_4298169284817493501_n.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 55vh;
}
  
.item2 {
    grid-column: 4 / 6;
    grid-row: 1;
    background-image: url("../img/240106614_611144993604888_1551848545334909749_n.png");
    background-size: 100% 100%;
}
.item3{
    background-image: url("../img/142563066_468737097845679_3844533273797600747_n.jpg");
    background-size: 100% 100%;
    grid-column: 4 / 6;
  grid-row: 2;
}
.item4{
    background-image: url("../img/ws\ bao\ việc\ hay\ bao\ đồng-01.jpg");
    background-size: 100% 100%;
    height: 55vh;
    grid-column: 1 / 3;
 grid-row: 3 / 5;
}
.item5 {
    grid-column: 3 / 6;
  grid-row: 3 / 5;
    background-image: url("../img/240394296_607823463937041_1164640521647702733_n.jpg");
    background-size: 100% 100%;
}
.content-6{
    margin-top: 100px;
}
.content-6 ul li{
    margin-left: 30px;
    font-size: 22px;
    line-height: 1.2cm;
    color: #333333;
}
ul{
    margin-top: 15px;
}
.scroll-btn {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    bottom: 28px;
    left: 50px;
    display: none;
    font-size:48px;
    color: #015000;
}
.content-7{
    margin-top: 100px;
    width: 100%;
    background-color: #F3F6FA;
    padding-top: 80px;
}
.footer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.footer-1{
    width: 30%;
}
.footer-1 p{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 18px;
}
.bg-footer{
    background-image: url("../img/logo.png");
    background-size: 100% 100%;
    width: 100%;
    height: 10vh;
}
.footer-2{
    width: 20%;
}
.footer-2 h4{
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-2 ul{
    list-style-type:none;
}
.content-7 ul{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.content-7 ul li{
    line-height: 1.2cm;
}
.footer-3{
    width: 30%;
    display: flex;
    justify-content: end;
}
.vong-tron{
    width: 42px;
    height: 42px;
    background-color: #FFFFFF;
    border-radius:  50%;
    margin-right: 15px;
    text-align: center;
}
.chinh{
    margin-top: 12px;
}
.vong-tron:hover{
    background-color: #015000;
    color: #FFFFFF;
}
.vector-3{
    width: 100%;
    border-bottom:1px solid #C6C6C6;
}
.footer-withlove{
    margin: auto;
    width: 70%;
}
a{
    text-decoration: none;
    color: #015000;
}
.content-4 h3:hover{
    transform: translateY(-18px);;
}
.content-4 h3{
    transition: 0.5s;
}
.navbar{
    font-size:30px;
    cursor:pointer;
    display: none;
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #015000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #lop-phu{
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
      z-index: 5;
  }
@media only screen and (min-width:740px) and (max-width: 1024px) {
    .text-1 h1 {
        font-size: 39px;
        margin: 0px;
        line-height: 45px;
    }
    .text-1 {
        font-size: 16px;
        width: 50%;
        color: #015000;
    }
    .text-1 p {
        line-height: 19px;
        margin-top: 20px;
        color: #333333;
    }
    .headers .intro {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
    }
    .intro .intro-2 {
        color: white;
        padding: 5px 18px;
        border-radius: 50px;
        border: 2px solid #015000;
        background-color: #015000;
        transition: 0.5s;
    }
    .content {
        width: 85%;
        margin: auto;
    }
    .text-2 h1 {
        margin: 0;
        font-size: 35px;
    }
    .text-2 {
        font-size: 16px;
        width: 100%;
        color: #015000;
    }
    .content-3 {
        margin-top: 0px;
    }
    .text-3 h1{
        font-size: 35px;
    }
    .cau-truc-1 p {
        font-size: 11px;
    }
    .cau-truc-2 p {
        font-size: 11px;
    }
    .cau-truc-3 p {
        font-size: 11px;
    }
    .cau-truc-1 h2 {
        font-size: 16px;
    }
    .cau-truc-2 h2 {
        font-size: 16px;
    }
    .cau-truc-3 h2 {
        font-size: 16px;
    }
    .can-le {
        padding: 10px 15px 10px 15px;
    }
    .bg-03 {
        width: 100%;
        height: 120px;
    }
    .bg-04 {
        width: 100%;
        height: 120px;
    }
    .bg-05 {
        width: 100%;
        height: 120px;
    }
    .hd h3 {
        font-size: 100px;
        line-height: 100px;
    }
    .hd p{
        text-align: center;
        font-size: 20px;
    }
    .content-4 {
        margin-top: 50px;
    }
    .content-5 {
        margin-top: 50px;
    }
    .item1{
        height: 25vh;
    }
    .item4{
        height: 25vh;
    }
    .content-6 {
        margin-top: 50px;
    }
    .text-1 .intro .intro-1 {
        width: 100px;
    }
    .text-1 .intro .intro-2 {
        width: 100px;
    }
    .content-6 ul li{
        font-size: 16px;
    }
    .bg-footer{
        height: 30px;
    }
    .footer-1 p {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 10px;
    }
    .content-7 ul {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .footer-2 h4 {
        font-size: 16px;
        margin: 0;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .content-7 ul li {
        line-height: 0.7cm;
    }
    .content-6 ul li {
        margin-left: 30px;
        line-height: 0.8cm;
        color: #333333;
    }
    .chinh {
        margin-top: 6px;
    }
    .vong-tron {
        width: 25px;
        height: 25px;
        background-color: #FFFFFF;
        border-radius: 50%;
        margin-right: 15px;
        text-align: center;
        /* margin-bottom: 3px; */
        /* line-height: 0px; */
    }
}
@media screen and (max-width:740px) {
    .headers{
        margin-bottom: 20px;
    }
    .headers .intro{
        display: none;
    }
    .navbar{
        display: block;
    }
    .content {
        width: 90%;
        margin: auto;
    }
    .bg-01 {
        width: 40px;
        height: 50px;
    }
    .vector-1{
        top: 65px;
    }
    .content-1 .text-1 p{
        display: none;
    }
    .content-1 .text-1 h1{
        font-size: 40px;
        text-align: center;
        line-height: 50px;
    }
    .content-1{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content-1 .text-1{
        width: 100%;
       
    }
    .bg-02{
        width: 70%;
        height: 174px;
    }
    .content-1{
        position: relative;
        padding-bottom: 65px;
    }
    .content-1 .intro{
        position: absolute;
        bottom: 0;
        margin: auto;
    }
    .content-1 .text-1 .intro{
        justify-content: center;
    }
    .content-1 .intro .intro-1{
        width: 120px;
        height: 30px;
        padding: 0;
        font-size: 18px;
        line-height: 26px;
    }
    .content-1 .intro .intro-2{
        width: 120px;
        height: 30px;
        padding: 0;
        font-size: 18px;
        line-height: 26px;
    }
    .text-2 h1 {
        margin: 0;
        font-size: 30px;
    }
    .text-2 {
        font-size: 14px;
        width: 100%;
        color: #015000;
    }
    .text-2 p {
        line-height: 16px;
        margin-top: 0;
        color: #333333;
    }
    .text-3 h1 {
        font-size: 30px;
    }
    .content-3 {
        margin-top: 0px;
    }
    .content-3 h1{
        line-height: 40px;
    }
    .vector-2{
        margin-top: 50px;
    }
    .cau-truc{
        display: block;
    }
    .bg-03{
        width: 147px;
        height: 147px;
        border-radius: 0;
    }
    .cau-truc .cau-truc-1 {
        display: flex;
        width: 100%;
    }
    .can-le{
        padding: 0;
        width: calc(100% - 147px);
        margin-left: 10px;
    }
    .cau-truc-1 h2{
        font-size: 19px;
        line-height: 21px;
    }
    .cau-truc-1 p{
        font-size: 12px;
        line-height: 14px;
    }
    .bg-04{
        width: 147px;
        height: 147px;
        border-radius: 0;
    }
    .cau-truc .cau-truc-2 {
        display: flex;
        width: 100%;
    }
    .can-le{
        padding: 0;
        width: calc(100% - 147px);
        margin-left: 10px;
    }
    .cau-truc-2 h2{
        font-size: 19px;
        line-height: 10px;
    }
    .cau-truc-2 p{
        font-size: 12px;
        line-height: 14px;
    }
    .bg-05{
        width: 147px;
        height: 147px;
        border-radius: 0;
    }
    .cau-truc .cau-truc-3{
        display: flex;
        width: 100%;
    }
    .can-le{
        padding: 0;
        width: calc(100% - 147px);
        margin-left: 10px;
    }
    .cau-truc-3 h2{
        font-size: 19px;
        line-height: 15px;
    }
    .cau-truc-3 p{
        font-size: 12px;
        line-height: 14px;
        padding: 0;
    }
    .cau-truc-2{
        margin-top: 20px;
        border-radius: 10px;
    }
    .cau-truc-3{
        margin-top: 20px;
        border-radius: 10px;
    }
    .cau-truc-1{
        border-radius: 10px;
    }
    .content-4{
        margin-top: 0px;
    }
    .hd h3 {
        margin-top: 0px;
        margin-bottom: 8px;
        text-align: center;
        font-size: 60px;
        color: #015000;
        margin-bottom: 0;
        line-height: 65px;
    }
    .hd p {
        line-height: 18px;
        margin-top: 0;
        font-size: 16px;
        text-align: center;
    }
    .content-5{
        margin-top: 0px;
    }
    .item1{
        height: 20vh;
    }
    .item4{
        height: 20vh;
    }
    .grid-content{
        gap: 5px;
    }
    .content-6{
        margin-top: 20px;
    }
    .content-6 ul li {
        margin-left: 15px;
        font-size: 14px;
        line-height: 0.6cm;
        color: #333333;
    }
    .footer {
        margin: auto;
        display: block;
        justify-content: space-between;
        width: 90%;
    }
    .footer-2{
        display: none;
    }
    .content-7{
        margin-top: 0;
    }
    .footer-1{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-3{
        width: 100%;
        justify-content: center;
        margin-bottom: 5px;
    }
    .footer-withlove p{
        font-size: 12px;
    }
    .scroll-btn{
       left: 5px;
       bottom: 5px;
    }
    .logo-book{
        width: 375px;
    }
}